//Colors
$primaryBlue: #3C64B1;
$secondaryBlue: #5D8AE2;
$accentBlue: #1F4168;
$lightBlack: #373F41;
$grayishBlue: #9698a6;
$white: #ffffff;

//Font Sizes
$font-small: 0.875rem; //14px
$font-med: 1.125rem; //18px